services:
  - type: web
    name: vecra-website
    env: node
    plan: starter
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: NODE_VERSION
        value: 20
      - fromGroup: vecra-website-env
